<div class="form-container">
  <h2>re:<span class="red">Q</span>uital</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="form-field">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      @if (form.controls['email'].invalid && form.controls['email'].touched) {
        <mat-error>Not a valid email</mat-error>
      }
    </mat-form-field>
<!--    <div class="back-to-box">-->
<!--      <p><a href="/log-in" class="back-to">Back to log in</a></p>-->
<!--    </div>-->
    <p class="explanatory-text">Enter your email and we'll send you a new password to get back into your account.</p>
    <button mat-flat-button type="submit" class="submit" [class.disabled]="form.invalid">Reset password</button>
  </form>
</div>
