<div class="form-box">
  <h2>re:<span class="letter">Q</span>uital</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user-box" [class.has-error]="form.controls['email'].invalid && form.controls['email'].touched">
      <input type="email"
             name=""
             required=""
             formControlName="email"
             [class]="form.controls['email'].value ? 'has-value': ''"
      >
      <label>Email</label>
      @if (form.controls['email'].invalid && form.controls['email'].touched) {
        <p class="error">
          Email invalid!
        </p>
      }
    </div>
    <div class="user-box" [class.has-error]="form.controls['password'].invalid && form.controls['password'].touched">
      <input
        type="password"
        name="" required=""
        formControlName="password"
        [class]="form.controls['password'].value ? 'has-value': ''"
      >
      <label>Password</label>
      @if (form.controls['password'].invalid && form.controls['password'].touched) {
        <p class="error">
          Password invalid!
        </p>
      }
      <div class="question-box">
        <p><a href="/forgot-password" class="password-question">Forgot password?</a></p>
      </div>
    </div>
    <button type="submit" class="submit" [class.disabled]="form.invalid">Log in</button>
  </form>
  <div class="sign-up-question">
    <p>Don't have an account?<a routerLink="/sign-up" class="sign-up-link"> Sign up</a></p>
  </div>
</div>
