<div class="form-container">
  <h2>Change password</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user-box">
      <mat-form-field class="form-field">
        <mat-label>New password</mat-label>
        <input
          matInput
          required
          formControlName="newPassword"
          [type]="hide() ? 'password' : 'text'" />
        @if (form.controls['newPassword'].invalid && form.controls['newPassword'].touched) {
          <mat-error>Not a valid password!</mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="user-box">
      <mat-form-field class="form-field">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          required
          formControlName="confirmPassword"
          [type]="hide() ? 'password' : 'text'" />
        @if (form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched) {
          <mat-error>Not a valid password!</mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" class="submit" [class.disabled]="form.invalid">Save changes</button>
  </form>
</div>
