<div class="form-box">
  <h2>Change password</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user-box" [class.has-error]="form.controls['newPassword'].invalid && form.controls['newPassword'].touched">
      <input
        type="password"
        name="" required=""
        formControlName="newPassword"
        [class]="form.controls['newPassword'].value ? 'has-value': ''"
      >
      <label>New password</label>
      @if (form.controls['newPassword'].invalid && form.controls['newPassword'].touched) {
        <p class="error">
          Password invalid!
        </p>
      }
    </div>
    <div class="user-box" [class.has-error]="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched">
      <input
        type="password"
        name="" required=""
        formControlName="confirmPassword"
        [class]="form.controls['confirmPassword'].value ? 'has-value': ''"
      >
      <label>Confirm password</label>
      @if (form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched) {
        <p class="error">
          Password invalid!
        </p>
      }
    </div>
    <button type="submit" class="submit" [class.disabled]="form.invalid">Save changes</button>
  </form>
</div>
