.form-container h2 .letter {
  color: #e64833;
}

.question-box {
  box-sizing: border-box;
  text-align: right;
  margin-top: -30px;
  margin-bottom: 30px;
}
.password-question {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

.sign-up-question {
  margin-top: 30px;
  margin-bottom: -25px;
}
.sign-up-link {
  color: #d95f5f;
  font-weight: bold;
  text-decoration: none;
}

