<div class="form-container">
  <h2>re:<span class="letter">Q</span>uital</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user-box">
      <mat-form-field class="form-field">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="requital@example.com"
          formControlName="email"
          required
        />
        @if (form.controls['email'].invalid && form.controls['email'].touched) {
          <mat-error>Not a valid email!</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="user-box">
      <mat-form-field class="form-field">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          required
          formControlName="password"
          [type]="hide() ? 'password' : 'text'" />
        @if (form.controls['password'].invalid && form.controls['password'].touched) {
          <mat-error>Not a valid password!</mat-error>
        }
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="question-box">
      <p><a href="/forgot-password" class="password-question">Forgot password?</a></p>
    </div>
    <button mat-flat-button type="submit" class="submit" [class.disabled]="form.invalid">Log in</button>
  </form>
  <div class="sign-up-question">
    <p>Don't have an account?<a routerLink="/sign-up" class="sign-up-link"> Sign up</a></p>
  </div>
</div>
