.form-box h2 .red {
  color: #d95f5f;
}

.form-box .explanatory-text {
  margin-top: -10px;
  font-size: 12px;
  color: #9c9c9c;
}

.sign-up-question {
  margin-top: 30px;
  margin-bottom: -20px;
}
.sign-up-link {
  color: #d95f5f;
  font-weight: bold;
  text-decoration: none;
}
