.form-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.form-container h2 .red {
  color: #d95f5f;
}

.form-container .explanatory-text {
  margin-top: -10px;
  font-size: 12px;
  color: #9c9c9c;
}

.back-to-box {
  box-sizing: border-box;
  text-align: right;
  margin-top: -30px;
  margin-bottom: 30px;
}
.back-to {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}
