@import "theme/forms";
@import "theme/calendar";
@import "theme/modals";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  --mdc-filled-button-container-color: #0ca3b1;
  --mdc-filled-button-container-shape: 4px;
}
