html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

button.submit.disabled{
  background: #a1a1a1;
}

.error {
  color: #d4282b;
  margin-top: -18px;
  margin-bottom: 20px;
  font-size: 12px;
}
